<h1>List of Current Game Groups</h1>
<ul>
<% @groups.each do |group| %>
    <li><h3><%= link_to group.game_title, group_path(group) %> - 
    <%= group.game_category %></h3></li>
<% end %>
</ul>
<h2>Filter Game Groups by Category</h2>
<%# form_for(@groups, method: "get") do |f| %>
    <%# f.label :game_category %>
    <%# f.select :game_category, [
        ['Board Game', 'Board Game'], 
        ['Card Game', 'Card Game'], 
        ['RPG', 'RPG']],  
        include_blank: true %>
    <%# f.submit 'Filter Groups' %>
<%# end %>