<h1>All the Gatherings</h1>
<ul>
<% @gatherings.each do |g| %>
    <%= link_to g do %>
        <li><%= g.group.game_title %> meets at <%= g.game_cafe %> on <%= g.day_of_week.pluralize %>.</li>
    <% end %>
<% end %>
</ul>