<h1>Show page for <%= @gamer.username %></h1>

<%= link_to 'Create New Gaming Group', new_group_path %>
<br><br>
<%= link_to 'Create a New Gathering', new_gathering_path %>
<br><br>
<%= link_to 'Join a Gaming Group Gathering', gatherings_path %>